@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../../../Imagens/Fundo_Editado.png);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%
}

.login .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

form {
    background-color: white;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-campos {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.link-senha {
    font-size: 0.85em;
    font-weight: 500;
}

.link-senha a {
    font-weight: 650;
}

.titulo {
    color: #cb0000;
}

.titulo h1 {
    margin: 0;
    margin-bottom: 2%;
    font-size: 2.4em;
}

.campo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    box-shadow: 1px 1px 5px #a9a9a9;
    padding: 1%;
    margin: 5.5px 0 5.5px 0;
}

.campo img {
    width: 7%;
}

.campo input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 480;
    width: 80%;
    padding: 5px;
    border: 0;
    margin-left: 6px;
    font-size: 14.5px;
    font-size: 0.93em;
    color: #767676;
}

.campo input[type="password"]::-ms-reveal {
    display: none;
}

.campo input:focus {
    outline: none;
}

.input-senha input {
    width: 72%;
}

.btn-entrar-cadastrar {
    width: 67%;
    height: 50px;
}

.btn-entrar-cadastrar button {
    margin-top: 4%;
    color: white;
    background-color: #cb0000;
    border: 0;
    border-radius: 13px;
    width: 90%;
    max-width: 100%;
    height: 70%;
    max-height: 100%;
    font-size: 1.02em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
}