/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: "Montserrat", sans-serif;
}
body{
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
h1 {
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    margin-bottom: 10px;
  }
.divmae{
  position: relative;
  width: 100%;
  display: block;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:30px;
}
.conteudo{
  max-width: 800px;
  text-align: center;
  align-self: center;
}

.form{
background-color: #fff;
border-radius: 15px;
margin-block:30px; /*margem em cima e embaixo*/
color: #131313;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.form p{
text-align: left;
line-height: 150%;
}

.formdentro{
  margin-block: 30px;
  padding-inline: 30px;
  width:100%;
}

.formdentro input{
  width:100%;
  height: 30px;
  margin-top: 10px; 
  background-color: #fff;
  border-style: none;
  border-bottom: #cb4444 solid 1px;
  margin-bottom: 20px;
}

.formdentro input:focus{
  outline:none;
}

.btn{
display:inline-block;
width: 100%;
height: 50px;
padding:0.7em 1.4em;
margin:0 0.3em 0.3em 0;
border-radius:0.15em;
border: none;
text-decoration:none;
text-transform:uppercase;
font-weight: 700;
letter-spacing: 2px;
color:#FFFFFF;
background-color:#cb0000;
box-shadow:inset 0 -0.6em 0 -0.35em rgba(143, 0, 0, 0.8);
text-align:center;
cursor: pointer;
}

.btn:hover{
background-color:#9c0202;
box-shadow:inset 0 -0.6em 0 -0.35em rgba(143, 0, 0, 0.8);
}

.divResultado{
  display: inline-grid;
  max-width: max-content;


  margin-block:30px; /*margem em cima e embaixo*/

}
.divResultado h1{
  /* font-optical-sizing:auto; */
  font-size:xx-large;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  font-optical-sizing: auto;
}
.divResultado h1 u{
  text-decoration: none;
  border-bottom: #cb0000 4px double;
}

.divResultadoDentro{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width:fit-content;
  justify-content: center;
  align-items: center;
  
}

 /* -------------------------- DIV RESULTADO 1 -------------------------- */

.divResultadoUm{
  /* align-items: center;
  justify-content: center; */

  margin-block:30px; /*margem em cima e embaixo*/
  margin-inline:10px;

}
.divUmSubtitulo{
  background-color: #cb0000;
  border-radius: 10px 10px 0 0;

  padding: 10px;

}
.divUmDescricao{
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  color: #131313;

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;
  padding-inline: 20px;

  height: 370px;
  max-width: 350px;

}

.divUmDescricao text{
  text-transform: uppercase;
  font-size:large;
  font-weight: bold;
  width: 100%;
  border-bottom: #cc0000 solid 1px;
  margin-bottom: 10px;
  padding: 10px;
}

.divUmDescricao small{
  text-transform: uppercase;
  font-size:xx-small;
  font-weight: 500;
  align-self: baseline;
}

.divUmDescricao a{
  text-decoration:underline solid 0.5px #000;
  color: #000;
}

 /* -------------------------- DIV RESULTADO 2 -------------------------- */

 .divResultadoDois{
  align-items: center;
  justify-content: center;

  margin-block:30px; /*margem em cima e embaixo*/
  margin-inline:10px;


}
.divDoisSubtitulo{
  background-color: #cb0000;
  border-radius: 10px 10px 0 0;

  padding: 10px;

}
.divDoisDescricao{
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  color: #131313;

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;
  padding-inline: 20px;

  height: 370px;
  max-width: 350px;

}

.divDoisDescricao text{
  text-transform: uppercase;
  font-size:large;
  font-weight: bold;
  width: 100%;
  border-bottom: #cc0000 solid 1px;
  margin-bottom: 10px;
  padding: 10px;
}

.divDoisDescricao a{
  text-decoration:underline solid 0.5px #000;
  color: #000;

}

/* @media (max-width:800px){
  .divResultadoDentro{
    display: flex;
    flex-direction: column;
    max-width: 800px;
  }
} */