/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: "Montserrat", sans-serif;
}
body{
  /* background-color: #000; */
  background-image: url(../../Imagens/Fundo_Editado.png);
  color: #fff;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  position: relative;
  padding-top: 16vh;
}
h1 {
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    margin-bottom: 10px;
  }

  header {
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 16vh;
    z-index: 1000;
    padding-left: 5vw;
    position: fixed;
    display: block;
    align-content: center;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

header a{
  color: white;
  text-decoration: none;
}

.navbarMobile{
    display: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-content: center;
}
.nav-list {
    display: flex;
    list-style: none;
    /* justify-content: space-between; */
    border-bottom: 1px dotted white;
    padding-right: 3vw;

    font-size: 1.1vw;
    text-transform: uppercase;
}

.nav-list li {
    letter-spacing: 0.5vh;
    margin-left: 5px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.nav-list li:hover {
    opacity: 0.7;
}

.logo {
    display: block;
    /* justify-content: center;
    align-items: center; */
    font-size: 2vw;
    font-weight: bold;
    flex-direction: column;
    align-self: center;
    justify-content: center;

    margin-right: 1%;
    margin-left:0;
}
.img-logo {
    width: 8%;
    margin-right: 1%;
    vertical-align: middle;
}

.divmae{
  position: relative;
  width: 100%;
  display: block;
  background-color: rgb(0, 0, 0, 0.3);
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:30px;
}
.conteudo{
  max-width: 800px;
  text-align: center;
  align-self: center;
}

.form{
background-color: #fff;
border-radius: 15px;
margin-block:30px; /*margem em cima e embaixo*/
color: #131313;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.form p{
text-align: left;
line-height: 150%;
}

.formdentro{
  margin-block: 30px;
  padding-inline: 30px;
  width:100%;
}

.formdentro input{
  width:100%;
  height: 30px;
  margin-top: 10px; 
  background-color: #fff;
  border-style: none;
  border-bottom: #cb4444 solid 1px;
  margin-bottom: 20px;
}

.formdentro input:focus{
  outline:none;
}

.btn{
display:inline-block;
width: 100%;
height: 50px;
padding:0.7em 1.4em;
margin:0 0.3em 0.3em 0;
border-radius:0.15em;
border: none;
text-decoration:none;
text-transform:uppercase;
font-weight: 700;
letter-spacing: 2px;
color:#FFFFFF;
background-color:#cb0000;
box-shadow:inset 0 -0.6em 0 -0.35em rgba(143, 0, 0, 0.8);
text-align:center;
cursor: pointer;
}

.btn a{
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  padding: 100%;
}

.btn:hover{
background-color:#9c0202;
box-shadow:inset 0 -0.6em 0 -0.35em rgba(143, 0, 0, 0.8);
}

.divResultado{
  display: inline-grid;
  max-width: max-content;

  margin-top:16vh;


  /* margin-block:30px; margem em cima e embaixo */

}
.divResultado h1{
  /* font-optical-sizing:auto; */
  font-size:xx-large;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  font-optical-sizing: auto;
}
.divResultado h1 u{
  text-decoration: none;
  border-bottom: #cb0000 4px double;
}

.divResultadoDentro{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

 /* -------------------------- DIV RESULTADO 1 -------------------------- */

.divResultadoUm{
  /* align-items: center;
  justify-content: center; */

  margin-block:30px; /*margem em cima e embaixo*/
  margin-inline:10px;

}
.divUmSubtitulo{
  background-color: #cb0000;
  border-radius: 10px 10px 0 0;

  padding: 10px;

}
.divUmDescricao{
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  color: #131313;

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;
  padding-inline: 20px;

  height: 370px;
  max-width: 350px;

}

.divUmDescricao text{
  text-transform: uppercase;
  font-size:large;
  font-weight: bold;
  width: 100%;
  border-bottom: #cc0000 solid 1px;
  margin-bottom: 10px;
  padding: 10px;
}

.divUmDescricao small{
  text-transform: uppercase;
  font-size:xx-small;
  font-weight: 500;
  align-self: baseline;
}

.divUmDescricao a{
  text-decoration:underline solid 0.5px #000;
  color: #000;
}

 /* -------------------------- DIV RESULTADO 2 -------------------------- */

 .divResultadoDois{
  align-items: center;
  justify-content: center;

  margin-block:30px; /*margem em cima e embaixo*/
  margin-inline:10px;


}
.divDoisSubtitulo{
  background-color: #cb0000;
  border-radius: 10px 10px 0 0;

  padding: 10px;

}
.divDoisDescricao{
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  color: #131313;

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;
  padding-inline: 20px;

  height: 370px;
  max-width: 350px;

}

.divDoisDescricao text{
  text-transform: uppercase;
  font-size:large;
  font-weight: bold;
  width: 100%;
  border-bottom: #cc0000 solid 1px;
  margin-bottom: 10px;
  padding: 10px;
}

.divDoisDescricao a{
  text-decoration:underline solid 0.5px #000;
  color: #000;

}

footer {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  margin-block: 0px;
  padding-inline: 50px;
  padding-block: 30px;
  overflow: hidden;

  background-color: #fff;
}

.logotipo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  /* display: block;
  flex-direction: column;
  align-self: center;
  justify-content: center;

  margin-right: 1%; */
}

.logotipo img {
  height: 10vh;
  margin: 20px;
  vertical-align:middle;
  /* width: 8%;
  margin-right: 1%;
  vertical-align: middle; */
}

.logotipo h1 {
 color: #212121;
 /* font-size: 2vw; */
 font-weight: bold;
 max-width: fit-content;
}
.logoGasbus{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 40px;

}

.direitos{
  color:#212121;
  font-size: 0.8vw;
}

.vl{
  border-right: 1px dotted #212121;
  height: 100%;
}

.infos {
  max-width: 50%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  text-align: left;
  color: #212121;
}
.infos a{
  color: #212121;
  text-decoration: underline 0.5px;
}
.infos a:hover{
  color: #cb4444;
}
.redes {
  display: flex;
  justify-content: space-between;
  width:30%;
  margin-top: 10px;
  -webkit-filter: invert(1);
   filter: invert(1);
}

@media (max-width:800px){
  body{
      padding-top: 6.5vh;
  }
  header{
      top:0;
      padding-left:0;
      height: auto;
      padding-bottom:0;
  }
  .navbar {
      display: none;
  }
  .navbarMobile{
      display:contents;
  }

  .logo {
    font-size: 2vw;
    font-weight: bold;
    
}
.img-logo {
    width: 4%;
    vertical-align: middle;
}



/* MENU HAMBURGER */

/* Style the navigation menu */
.topnav {
overflow: hidden;
background-color: rgb(0, 0, 0, 0.5);
position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
display: none;
}

/* Style navigation menu links */
.topnav a {
color: white;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
/* background: black; */
display: block;
position: absolute;
right: 0;
top: 0;
}

/* Add a grey background color on mouse-over */
/* .topnav a:hover {
background-color: #ddd;
color: black;
} */

/* Style the active link (or home/logo) */
.active {
background-color: #04AA6D;
color: white;
}

/* FIM MENU HAMBURGER */

.divResultado{
  margin-top:6.8vh;
}

footer {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  /* margin-block: 50px; */
  padding-inline: 50px;
  overflow-x: hidden;
}

.logoGasbus{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 40px;

}
.logotipo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 30%;
  /* display: block;
  flex-direction: column;
  align-self: center;
  justify-content: center;

  margin-right: 1%; */
}

.logotipo img {
  height: 4vh;
  margin: 20px;
  vertical-align:middle;
  /* width: 8%;
  margin-right: 1%;
  vertical-align: middle; */
}

.logotipo h1 {
 font-size: 4vw;
 font-weight: bold;
 max-width: fit-content;
}


.direitos{
  font-size: 1.8vw;
}

.vl{
  border-right: 1px dotted #212121;
  height: 100%;
}

.infos {
  max-width: 50%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  font-size: 2.3vw;
  text-wrap:balance;

  text-align: left;
}

.redes {
  display: flex;
  justify-content: space-between;
  max-width:30%;
  margin-top: 10px;
}
}