@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    position: relative;
    background-color: black;
}

body::after {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 16vh;
    z-index: 1000;
    padding-left: 5vw;
}

.img-logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    border-bottom: 1px dotted white;
    padding-right: 7vw;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 12px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
}

.nav-list li:hover {
    opacity: 0.7;
}

a {
    color: white;
    text-decoration: none;
}

.face-page {
    background-image: url("../assets/background-image1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 85vh;
}

.face-page p {
    color: white;
    width: 50vw;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    padding-left: 5vw;
    margin-bottom: 20px;
}

.face-page a {
    font-size: 25px;
    padding-left: 5vw;
    border-bottom: 3px solid red;
}

.navegacao-rapida {
    width: 100%;
    height: 80vh;
    color: white;
    margin-bottom: 100px;
}

.title {
    font-weight: 200;
    font-size: 40px;
    letter-spacing: 5px;
    width: fit-content;
    padding: 0 10vw 5px 5vw;
    border-bottom: 1px dotted white;
    margin-bottom: 50px;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.box h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.box p, .box img {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    font-size: 20px;
}

.citacao {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-direction: row;
}

.img1, .img2, .img3 {
    display: flex;
    position: relative;
    align-items: center;
}

.img1, .img2, .img3 img {
    height: auto;
}

.img1 img, .img2 img, .img3 img {
    width: 100%;
    height: 100%;
}

.citacao p {
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 30px;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    color: white;
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    overflow: hidden;
}

.img1:hover p, .img2:hover p, .img3:hover p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.diagrama {
    color: black;
    background-color: white;
}

.diagrama h1 {
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 5px;
    padding: 5vh 10vw 5px 5vw;
    border-bottom: 1px dotted black;
}

.diagrama-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logotipo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-right: 2px dotted white;
}

.logotipo img {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.logotipo h1 {
   color: white;
   font-size: xx-large;
}

.redes {
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
    width: 50%;
}