* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: "Montserrat", sans-serif;
}

body {
    /* background-color: #000; */
    background-image: url(../../../../Imagens/Fundo_Editado.png);
    color: #fff;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    margin-bottom: 10px;
}

header {
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 16vh;
    z-index: 1000;
    padding-left: 5vw;
    position: fixed;
    display: block;
    align-content: center;
}

header a {
    color: white;
    text-decoration: none;
}

.navbarMobile {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-content: center;
}

.nav-list {
    display: flex;
    list-style: none;
    /* justify-content: space-between; */
    border-bottom: 1px dotted white;
    padding-right: 3vw;

    font-size: 1.1vw;
    text-transform: uppercase;
}

.nav-list li {
    letter-spacing: 0.5vh;
    margin-left: 5px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.nav-list li:hover {
    opacity: 0.7;
}

.logo {
    display: block;
    font-size: 2vw;
    font-weight: bold;
    flex-direction: column;
    align-self: center;
    justify-content: center;

    margin-right: 1%;
    margin-left: 0;
}

.img-logo {
    width: 8%;
    margin-right: 1%;
    vertical-align: middle;
}

main {
    padding-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
}

.container {
    width: 80vw;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4%;
}


form {
    width: 100%;
    height: 60%;
    margin-block: 30px;
    color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form p {
    text-align: left;
    line-height: 150%;
}

.campos {
    background-color: #fff;
    border-radius: 15px;
    padding: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.separacao-campos {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.separacao-campos input,
select {
    width: 100%;
    height: 2.4em;
    margin-top: 0.75em;
    background-color: #fff;
    border-style: none;
    border-bottom: #cb4444 solid 1px;
    margin-bottom: 1.5em;
}

.separacao-campos input:focus,
select:focus {
    outline: none;
}

.campo-indiv{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.campo-indiv.reduzido{
    width: 40%;
}

.separacao-empresa, .separacao-usuario{
    border-bottom: #cb4444 solid 0.15em;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 1.1em;
    margin-bottom: 1.5em;
}

.campo-indiv.separacao-usuario{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1em;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1.5em;
}

.user{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.user-indiv {
    border: #cb4444 solid 1px;
    border-radius: 1em;
    padding: 2%;
}

.separacao-campos.senha .campo-indiv p{
    margin-bottom: 0.65em;
}

.campo-indiv .campo-img input{
    border: 0;
    margin: 0;
}

.campo-img{
    display: flex;
    border-style: none;
    border-bottom: #cb4444 solid 1px;
}

.campo-img input[type="password"]::-ms-reveal {
    display: none;
}

.campo-img img{
    width: 1.3em;
    height: 1.3em;
}

.link-senha{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    gap: 0.45em;
}

.link-senha a{
    color: #cb0000;
}

#mensagem_erro1{
    color: #cb0000;
    text-align: center;
}

.btn {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 0.7em 1.4em;
    margin: 2.2em 0.3em 0.3em 0;
    border-radius: 0.15em;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #FFFFFF;
    background-color: #cb0000;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(143, 0, 0, 0.8);
    text-align: center;
    cursor: pointer;
}

.btn.usuario{
    padding: 1%;
    width: fit-content;
    height: fit-content;
    margin: 0;
    margin-bottom: 1%;
}

.btn:hover {
    background-color: #9c0202;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(143, 0, 0, 0.8);
}

footer {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    margin-block: 0px;
    padding-inline: 50px;
    padding-block: 30px;
    overflow: hidden;
    background-color: #fff;
}

.logotipo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logotipo img {
    height: 10vh;
    margin: 20px;
    vertical-align: middle;
}

.logotipo h1 {
    color: #212121;
    font-weight: bold;
    max-width: fit-content;
}

.logoGasbus {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 40px;

}

.direitos {
    color: #212121;
    font-size: 0.8vw;
}

.vl {
    border-right: 1px dotted #212121;
    height: 100%;
}

.infos {
    max-width: 50%;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    text-align: left;
    color: #212121;
}

.infos a {
    color: #212121;
    text-decoration: underline 0.5px;
}

.infos a:hover {
    color: #cb4444;
}

.redes {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 10px;
    -webkit-filter: invert(1);
    filter: invert(1);
}